* Term Expansion When Removing Mutual Recursion

![100 random systems of size 1..9 with density 10](/results/density-10.png)

![100 random systems of size 1..9 with density 20](/results/density-20.png)

![100 random systems of size 1..9 with density 30](/results/density-30.png)

![100 random systems of size 1..9 with density 40](/results/density-40.png)

![100 random systems of size 1..9 with density 50](/results/density-50.png)

![100 random systems of size 1..9 with density 60](/results/density-60.png)

![100 random systems of size 1..9 with density 70](/results/density-70.png)

![100 random systems of size 1..9 with density 80](/results/density-80.png)

![100 random systems of size 1..9 with density 90](/results/density-90.png)
