* Term Expansion When Removing Mutual Recursion

![image test](/results/density-30.png)
